<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
      <div class="docs-sidebar hidden-print affix-top" role="complementary">
        <ul class="nav docs-sidenav">
          <li<%= sidebar_current("docs-home") %>>
            <a href="/docs/providers/index.html">All Providers</a>
          </li>
  
          <li<%= sidebar_current("docs-ciscoasa-index") %>>
            <a href="/docs/providers/ciscoasa/index.html">Cisco ASA Provider</a>
          </li>
  
          <li<%= sidebar_current("docs-ciscoasa-resource") %>>
            <a href="#">Resources</a>
            <ul class="nav nav-visible">
              <li<%= sidebar_current("docs-ciscoasa-resource-access-in-rules") %>>
                <a href="/docs/providers/ciscoasa/r/access_in_rules.html">ciscoasa_access_in_rules</a>
              </li>
              <li<%= sidebar_current("docs-ciscoasa-resource-access-out-rules") %>>
                <a href="/docs/providers/ciscoasa/r/access_out_rules.html">ciscoasa_access_out_rules</a>
              </li>
              <li<%= sidebar_current("docs-ciscoasa-resource-acl") %>>
                <a href="/docs/providers/ciscoasa/r/acl.html">ciscoasa_acl</a>
              </li>
              <li<%= sidebar_current("docs-ciscoasa-resource-backup") %>>
                <a href="/docs/providers/ciscoasa/r/backup.html">ciscoasa_backup</a>
              </li>
              <li<%= sidebar_current("docs-ciscoasa-resource-dhcp-relay-globalsettings") %>>
                <a href="/docs/providers/ciscoasa/r/dhcp_relay_globalsettings.html">ciscoasa_dhcp_relay_globalsettings</a>
              </li>
              <li<%= sidebar_current("docs-ciscoasa-resource-dhcp-relay-local") %>>
                <a href="/docs/providers/ciscoasa/r/dhcp_relay_local.html">ciscoasa_dhcp_relay_local</a>
              </li>
              <li<%= sidebar_current("docs-ciscoasa-resource-dhcp-server") %>>
                <a href="/docs/providers/ciscoasa/r/dhcp_server.html">ciscoasa_dhcp_server</a>
              </li>
              <li<%= sidebar_current("docs-ciscoasa-resource-failover-interface") %>>
                <a href="/docs/providers/ciscoasa/r/failover_interface.html">ciscoasa_failover_interface</a>
              </li>
              <li<%= sidebar_current("docs-ciscoasa-resource-failover-setup") %>>
                <a href="/docs/providers/ciscoasa/r/failover_setup.html">ciscoasa_failover_setup</a>
              </li>
              <li<%= sidebar_current("docs-ciscoasa-resource-interface-physical") %>>
                <a href="/docs/providers/ciscoasa/r/interface_physical.html">ciscoasa_interface_physical</a>
              </li>
              <li<%= sidebar_current("docs-ciscoasa-resource-interface-vlan") %>>
                <a href="/docs/providers/ciscoasa/r/interface_vlan.html">ciscoasa_interface_vlan</a>
              </li>
              <li<%= sidebar_current("docs-ciscoasa-resource-license-config") %>>
                <a href="/docs/providers/ciscoasa/r/license_config.html">ciscoasa_license_config</a>
              </li>
              <li<%= sidebar_current("docs-ciscoasa-resource-license-register") %>>
                <a href="/docs/providers/ciscoasa/r/license_register.html">ciscoasa_license_register</a>
              </li>
              <li<%= sidebar_current("docs-ciscoasa-resource-license-renewauth") %>>
                <a href="/docs/providers/ciscoasa/r/license_renewauth.html">ciscoasa_license_renewauth</a>
              </li>
              <li<%= sidebar_current("docs-ciscoasa-resource-license-renewid") %>>
                <a href="/docs/providers/ciscoasa/r/license_renewid.html">ciscoasa_license_renewid</a>
              </li>
              <li<%= sidebar_current("docs-ciscoasa-resource-nat") %>>
                <a href="/docs/providers/ciscoasa/r/nat.html">ciscoasa_nat</a>
              </li>
              <li<%= sidebar_current("docs-ciscoasa-resource-network-object-group") %>>
                <a href="/docs/providers/ciscoasa/r/network_object_group.html">ciscoasa_network_object_group</a>
              </li>
              <li<%= sidebar_current("docs-ciscoasa-resource-network-object") %>>
                <a href="/docs/providers/ciscoasa/r/network_object.html">ciscoasa_network_object</a>
              </li>
              <li<%= sidebar_current("docs-ciscoasa-resource-service") %>>
                <a href="/docs/providers/ciscoasa/r/network_service.html">ciscoasa_network_service</a>
              </li>
              <li<%= sidebar_current("docs-ciscoasa-resource-network-service-group") %>>
                <a href="/docs/providers/ciscoasa/r/network_service_group.html">ciscoasa_network_service_group</a>
              </li>
              <li<%= sidebar_current("docs-ciscoasa-resource-ntp-server") %>>
                <a href="/docs/providers/ciscoasa/r/ntp_server.html">ciscoasa_ntp_server</a>
              </li>
              <li<%= sidebar_current("docs-ciscoasa-resource-static-route") %>>
                <a href="/docs/providers/ciscoasa/r/static_route.html">ciscoasa_static_route</a>
              </li>
              <li<%= sidebar_current("docs-ciscoasa-resource-timerange") %>>
              <a href="/docs/providers/ciscoasa/r/timerange.html">ciscoasa_access_timerange</a>
            </li>
            </ul>
            <a href="#">Data Sources</a>
            <ul class="nav nav-visible">
              <li<%= sidebar_current("docs-ciscoasa-datasource-interface-physical") %>>
                <a href="/docs/providers/ciscoasa/d/interface_physical.html">interface_physical</a>
              </li>
              <li<%= sidebar_current("docs-ciscoasa-datasource-interfaces-physical") %>>
                <a href="/docs/providers/ciscoasa/d/interfaces_physical.html">interfaces_physical</a>
              </li>
              <li<%= sidebar_current("docs-ciscoasa-datasource-interface-vlan") %>>
                <a href="/docs/providers/ciscoasa/d/interface_vlan.html">interface_vlan</a>
              </li>
              <li<%= sidebar_current("docs-ciscoasa-datasource-interfaces-vlan") %>>
                <a href="/docs/providers/ciscoasa/d/interfaces_vlan.html">interfaces_vlan</a>
              </li>
              <li<%= sidebar_current("docs-ciscoasa-datasource-network-object") %>>
                <a href="/docs/providers/ciscoasa/d/network_object.html">network_object</a>
              </li>
              <li<%= sidebar_current("docs-ciscoasa-datasource-network-objects") %>>
                <a href="/docs/providers/ciscoasa/d/network_objects.html">network_objects</a>
              </li>
              <li<%= sidebar_current("docs-ciscoasa-datasource-network-service") %>>
                <a href="/docs/providers/ciscoasa/d/network_service.html">network_service</a>
              </li>
              <li<%= sidebar_current("docs-ciscoasa-datasource-network-services") %>>
                <a href="/docs/providers/ciscoasa/d/network_services.html">network_services</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    <% end %>
  
    <%= yield %>
    <% end %>